<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messages</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/all.min.css">
</head>
<body >
    <a class="btn" href="/contact">contact</a>
    
    <div class="container">
        <header>
            <div class="head">name</div>
            <div class="head">email</div>
            <div class="head">subject</div>
            <div class="head">view</div>
        </header>
        <div class="body">
            <% if(data.length == 0) { %>
                <div class="no-msg">
                    there's no messages
                </div>
            <% } %>
            <% for(var i=0; i < data.length; i++) {%>
                <div class="message">
                    <div class="info"><%=  data[i].name %></div>
                    <div class="info"><%=  data[i].email %></div>
                    <div class="info"><%=  data[i].subject %></div>
                    <div class="info"><a href="/view-message/<%= data[i].id %>">view</a></div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>